{% extends "base/base.html" %}
{% load static %}
{% load custom_filters %}

{% block content %}
	<div class="row">
		<div class="small-12 large-12 columns sub_page_main">
			<h3 class="article_head">About Us</h3>
			<p>
				&nbsp&nbsp&nbspMountain View Equestrian is run out of beautiful Butte Valley, near Oroville, CA. We have set out to forge the bond between horse and rider; to not only fix problems, but to create a harmonious and strong bond between you and your horse. Mountain View Equestrian specializes in colt starting, horses having troubles, tune-ups and desensitization. We appreciate and welcome the involvement of our owners during the training process; this process takes teamwork and we firmly believe that our clients will benefit from learning the process their horse has gone through in order to keep the positive improvement going once the horse exits our care.
				<br><br>
				&nbsp&nbsp&nbspWhile at Mountain View, your horse will go through a variety of training phases. All horses begin with groundwork in a bit of a “reset,” for our colts we believe that solid basics will set them up for success under saddle and in their future careers. This also allows for us to completely evaluate the horse. Additionally, your horse will be worked in a covered arena, obstacle course and on our trail that extends off the back of the property where they will be exposed to water crossings.  Mountain View Equestrian works in both Western and English disciplines.
			</p>
		</div>
	</div>
{% endblock %}