<!DOCTYPE html>
{% load static %}
<html>
	<head>
		<title>Mountain View Equestrian</title>
		<link rel="stylesheet" type="text/css" href="{% static "base/css/foundation.css" %}" />
		<link rel="stylesheet" type="text/css" href="{% static "base/css/app.css" %}" />
		<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css" />
	</head>
	<body>
		<div class="row fullwidth">
			<div class="small-12, large-12 columns">
				{% block content %}
				{% endblock content %}
			</div>
		</div>


		<script type="text/javascript" src="{% static "base/js/vendor/jquery.js" %}"></script>
		<script type="text/javascript" src="{% static "base/js/vendor/foundation.js" %}"></script>
		{% block scripts %}
		{% endblock scripts %}
	</body>
</html>