<!DOCTYPE html>
{% load static %}
<html>
	<head>
		<title>Mountain View Equestrian</title>
		<link href="https://fonts.googleapis.com/css?family=Cinzel|Quattrocento+Sans" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.2.4/foundation.css" />
		<link rel="stylesheet" type="text/css" href="{% static "base/css/app.css" %}" />
		<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css" />

		<script type="text/javascript" src="{% static "base/js/vendor/jquery.js" %}"></script>
		{% block head %}
		{% endblock head %}
	</head>
	<body>
		<div class="main">
			<div class="row">
				<div class="title_container">
					<div class="small-12 large-12 columns">
						<span class="float-left">
							<a class="main_title_text" href="/">Mountain View Equestrian</a>
						</span>
						<span style="float: right; width: 25%;">
							<p class="sub_title_text">English & Western Disciplines</p>
						</span>
					</div>
				</div>
			</div>
			<div class="row banner_row">
				<div class="small-12 small-centered large-12 large-centered columns banner_container">
					<img class="float-center" data-interchange="[{% static "base/img/3_pic_banner.png" %}, large]">
					<div class="menu-centered">
						<ul class="menu">
							<li class="nav_menu_item"><a class="nav_menu_link" href="/">Home</a></li>
							<li class="nav_menu_item"><a class="nav_menu_link" href="/about/">About Us</a></li>
							<li class="nav_menu_item"><a class="nav_menu_link" href="/services/">Services</a></li>
							<li class="nav_menu_item"><a class="nav_menu_link" href="{% url "events:calendar" %}">Clinics and Events</a></li>
							<li class="nav_menu_item"><a class="nav_menu_link" href="/gallery/">Photo + Video</a></li>
							<li class="nav_menu_item"><a class="nav_menu_link" href="/contact/">Contact Us</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="small-12 small-centered large-12 large-centered columns main_content">
					<div class="row">
						<div class="small-8 large-8 columns" style="border-width: 0 1px 0 0; border-style: solid; border-color: #aaa; padding-bottom: 2em;">
							{% block content %}
							{% endblock content %}
						</div>
						<div class="small-4 large-4 columns right_col center_text">
							{% if request.user.is_authenticated %}
								<p><a class="username_link" href="/user/{{request.user.id}}">{{ request.user.username }}</a></p>
								<a class="login_link" href="{% url "users:logout" %}">Logout</a>
							{% else %}
								<p><a class="login_link" data-open="login_or_reg_modal" id="login_or_reg_modal_link">Login or Register</a></p>
							{% endif %}
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="small-4 large-4 columns footer center_text">
					<div style="padding-top: 0.5em; border-top: 0.05em dotted #aaa">
						<button class="button facebook_button"><i class="fa fa-facebook-square" aria-hidden="true"></i>&nbspFacebook</button>
						<button class="button twitter_button"><i class="fa fa-twitter-square" aria-hidden="true"></i>&nbspTwitter</button>
						<button class="button instagram_button"><i class="fa fa-instagram" aria-hidden="true"></i>&nbspInstagram</button>
					</div>
				</div>
			</div>
		</div>
		<div class="reveal" id="login_or_reg_modal" data-reveal>
			<i class="fa fa-arrow-left fa-2 back_arrow" aria-hidden="true"></i>
			<div id="login_or_reg_modal_contents">
				<p class="text-center">
					<a id="modal_login_link">Login</a>
					or
					<a id="modal_register_link">Register</a>
				</p>
			</div>
			<button class="close-button" data-close aria-label="Close modal" type="button">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>

		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.2.4/foundation.js"></script>
		<script>
			$(document).ready(function() {
				$(document).foundation();
			})
		</script>
		<script type="text/javascript" src="{% static "users/js/modalforms.js" %}"></script>
		{% block scripts %}
		{% endblock scripts %}
	</body>
</html>