{% extends "base/base.html" %}
{% load static %}
{% load custom_filters %}

{% block content %}
	<div class="row">
		<div class="small-12 large-12 columns sub_page_main">
			<h3 class="article_head">Photos</h3>
			<div class="orbit" role="region" aria-label="Mountain View Equestrian Pictures" data-orbit data-use-m-u-i="false">
				<ul class="orbit-container">
					<button class="orbit-previous"><span class="show-for-sr">Previous</span>&#9664;&#xFE0E;</button>
					<button class="orbit-next"><span class="show-for-sr">Next</span>&#9654;&#xFE0E;</button>
					{% for pic in orbit_pic_set %}
						{% if forloop.counter0 == 0 %}
							<li class="is-active orbit-slide">
								<img class="orbit-image" src="{% static pic %}">
							</li>
						{% else %}
							<li class="orbit-slide">
								<img class="orbit-image" src="{% static pic %}">
							</li>
						{% endif %}
					{% endfor %}
				</ul>
				<nav class="orbit-bullets">
					{% for pic in orbit_pic_set %}
						{% if forloop.counter0 == 0 %}
							<button class="is-active" data-slide="0"><span class="show-for-sr">Slide details.</span></button>
						{% else %}
							<button data-slide="{{forloop.counter0}}"><span class="show-for-sr">Slide details.</span></button>
						{% endif %}						
					{% endfor %}
				</nav>
			</div>
		</div>
	</div>
{% endblock %}