{% extends "base/base.html" %}
{% load static %}
{% load custom_filters %}

{% block head %}
	<link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.0.1/fullcalendar.min.css" />
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.15.1/moment.min.js"></script>
	<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.0.1/fullcalendar.min.js"></script>

	<script>
		$(document).ready(function() {
			var calendar = $('#event_calendar').fullCalendar({

				header:
				{
					left: 'title',
					right: 'prev,next today'
				}



			})
		});
	</script>
{% endblock head %}

{% block content %}
	<div class="row fullwidth">
		<div class="small-12 large-12 columns">
			<div class="row fullwidth">
				<div class="small-10 small-centered large-10 large-centered columns">
					<h1 class="text-center">Welcome to Mountain View Equestrian</h1>
				</div>
			</div>
			<div class="row fullwidth">
				<div class="small-8 small-centered large-8 large-centered columns">
					{% if request.user.is_authenticated %}
						<h5><a>{{ request.user.username }}</a></h5>
						<a href="{% url "users:logout" %}">Logout</a>
					{% else %}
						<div class="reveal" id="login_or_reg_modal" data-reveal>
							<div id="login_or_reg_modal_contents">
								<a id="modal_login_link">Login</a>
								or
								<a id="modal_register_link">Register</a>
							</div>
						</div>
						<p><a data-open="login_or_reg_modal" id="login_or_reg_modal_link">Login or Register</a></p>
					{% endif %}
				</div>
			</div>
			<div class="row">
				<div class="small-8 small-centered large-8 large-centered columns">
					<div id="event_calendar">
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
{% block scripts %}
	<script src="https://unpkg.com/react@15.3.2/dist/react.js"></script>
    <script src="https://unpkg.com/react-dom@15.3.2/dist/react-dom.js"></script>
    <script src="https://unpkg.com/babel-standalone@6.15.0/babel.min.js"></script>
	<!--<script type="text/babel" src="{% static "base/js/app.js" %}"></script>-->
	<script type="text/javascript" src="{% static "users/js/modalforms.js" %}"></script>
{% endblock scripts %}