{% extends "base/base.html" %}
{% load static %}
{% load custom_filters %}

{% block content %}
	<div class="row">
		<div class="small-12 large-12 columns sub_page_main">
			<h3 class="article_head">Services</h3>
			<p>
				&nbsp&nbsp&nbspWe believe in the basics, if we get to the root of an issue then we can offer hope to both horse and owner. With our babies, we believe the basics offer a lifelong foundation for happy horsemanship!
			</p>
			<p style="margin-top: 2em;">
				Our services include:
			</p>
			<ul>
				<li>Colt Starting</li>
				<li>Behavioral Issues</li>
				<li>Tune Ups</li>
				<li>Lessons</li>
				<li>English or Western</li>
			</ul>
			<p style="margin-top: 2em;">
				*All training packages include feed, board and daily care with on-site caretaker. Though we are happy to refer our clients to wonderful farriers and vets in the area, appointments and choices will be at the discretion and responsibility of the owner.
			</p>
			<p>
				**Lesson horses not provided at this time.
			</p>
		</div>
	</div>
{% endblock %}