{% extends "base/base.html" %}
{% load static %}

{% block content %}
	<div class="row fullwidth">
		<div class="small-12 large-12 columns">
			<h3> Welcome {{ user.first_name }}! </h3>
		</div>
	</div>
	<div class="row fullwidth">
		<div class="accordion" data-accordion data-allow-all-closed="true" data-multi-expand="true">
			<li class="accordion-item" data-accordion-item>
				<a href="#" class="accordion-title">My Horses</a>
				<div class="accordion-content" data-tab-content>
					<table class="hover" id="horse_details_table">
						<tbody id="horse_list">
							{% for horse in users_horses %}
								<tr class="horse_details_table_item" id="{{ horse.id }}"><td>{{ horse.name }}</td></tr>
							{% endfor %}
						</tbody>
					</table>
					{% if not users_horses.all %}
						<h5 id="no_horses">No horses registered</h5>
					{% endif %}
					<div style="margin-top: 1em;">
						<a class="button" data-open="register_horse_modal" id="horse_registration">Register a horse</a>
					</div>
				</div>
			</li>
			<li class="accordion-item" data-accordion-item>
				<a href="#" class="accordion-title">Billing</a>
				<div class="accordion-content" data-tab-content>
					{{ user.last_name }}
				</div>
			</li>
			<li class="accordion-item" data-accordion-item>
				<a href="#" class="accordion-title">My Events</a>
				<div class="accordion-content" data-tab-content>
					<table class="hover">
						<tbody>
							{% for event in users_events %}
								<tr class="event_table_item" id="{{ event.id }}"><td>{{ event.name }}</td></tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</li>
		</div>
	</div>
	<div class="reveal" id="register_horse_modal" data-reveal>
		{% include "users/partials/horse_registration_form.html" %}
	</div>
	<div class="reveal" id="horse_details_modal" data-reveal>
	</div>
	<div class="reveal" id="event_details_modal" data-reveal>
	</div>
{% endblock %}
{% block scripts %}
	<script src="https://unpkg.com/react@15.3.2/dist/react.js"></script>
    <script src="https://unpkg.com/react-dom@15.3.2/dist/react-dom.js"></script>
    <script src="https://unpkg.com/babel-standalone@6.15.0/babel.min.js"></script>
	<script type="text/babel" src="{% static "users/js/profile.js" %}"></script>

	<script>
		var uid = "{{ user.id|escapejs|safe }}";
	</script>
{% endblock scripts %}