{% extends "base/base.html" %}
{% load static %}
{% load custom_filters %}

{% block content %}
	<div class="row fullwidth">
		<div class="small-12 large-12 columns">
			<div class="row fullwidth">
				<div class="small-10 small-centered large-10 large-centered columns">
					<div class="reveal" id="registration_modal" data-reveal>
						{% include 'users/partials/user_registration_form.html' %}
					</div>
					<p><a data-open="registration_modal">modal</a></p>
				</div>
			</div>
			<div class="row fullwidth">
				<div id="users" class="small-10 small-centered large-10 large-centered columns">
				</div>
			</div>
		</div>
	</div>
{% endblock %}
{% block scripts %}
	<script src="https://unpkg.com/react@15.3.2/dist/react.js"></script>
    <script src="https://unpkg.com/react-dom@15.3.2/dist/react-dom.js"></script>
    <script src="https://unpkg.com/babel-standalone@6.15.0/babel.min.js"></script>
	<!--<script type="text/babel" src="{% static "base/js/app.js" %}"></script>-->
	<script type="text/javascript" src="{% static "users/js/modalforms.js" %}"></script>

	<script>
		$(document).ready(function() {
			$(document).foundation();
		})
	</script>
{% endblock scripts %}