<div class="row">
	<div class="small-12 large-12 columns underline_header">
		<h3 class="text-center"> {{ event.name }} </h3>
	</div>
</div>
<div class="row">
	<div class="small-4 large-4 columns">
		<p><b>Date:</b></p>
	</div>
	<div class="small-8 large-8 columns">
		<p>{{ event_date }}</p>
	</div>
</div>
<div class="row">
	<div class="small-4 large-4 columns">
		<p><b>Time:</b></p>
	</div>
	<div class="small-8 large-8 columns">
		<p>{{ event_time }}</p>
	</div>
</div>
<div class="row">
	<div class="small-4 large-4 columns">
		<p><b>Backup Date:</b></p>
	</div>
	<div class="small-8 large-8 columns">
		<p>{{ event_backup_date }}</p>
	</div>
</div>
<div class="row">
	<div class="small-4 large-4 columns">
		<p><b>Location:</b></p>
	</div>
	<div class="small-8 large-8 columns">
		<p>{{ event.location }}</p>
		<p>{{ address.street }}</p>
		<p>{{ address.city }}, {{ address.state }} {{ address.zip_code}}</p>
	</div>
</div>
<div class="row">
	<div class="small-4 large-4 columns">
		<p><b>Description:</b></p>
	</div>
	<div class="small-8 large-8 columns">
		<p>{{ event.description }}</p>
	</div>
</div>
{% if enrolled != '1' and event.status == 2 %}
	<button class="button" id="event_details_button">Join Waitlist</button>
{% else %}
	<button class="button" id="event_details_button">{{ button_text }}</button>
{% endif %} 