body {
	background-color: #372929;
}

.main {
	background-color: white;
	box-shadow: 0.75em 0.75em #0f0b0b;
	width: 61em;
	margin: 1.25em auto;
}

.row.full-width {
	width: 100%;
	max-width: 100%;
}

.input_error {
	border: solid thin red;
}

.field_error {
	color: red;

	/* Vertically align error messages in red box */
	display: table-cell;
	vertical-align: middle;
}

.field_error_list {
	background-color: #ffcccc;
	border: solid thin red;
	margin-bottom: 1em;
	padding: 0.5em;

	/* Set rounded corners */
	-webkit-border-radius: 0.3em 0.3em 0.3em 0.3em;
	-moz-border-radius: 0.3em 0.3em 0.3em 0.3em;
	-o-border-radius: 0.3em 0.3em 0.3em 0.3em;
	border-radius: 0.3em 0.3em 0.3em 0.3em;
}

.non_field_error {
	color: red;

	/* Vertically align error messages in red box */
	display: table-cell;
	vertical-align: middle;
}

.non_field_error_list {
	background-color: #ffcccc;
	border: solid thin red;
	margin-bottom: 1em;
	padding: 0.5em;
	
	/* Set rounded corners */
	-webkit-border-radius: 0.3em 0.3em 0.3em 0.3em;
	-moz-border-radius: 0.3em 0.3em 0.3em 0.3em;
	-o-border-radius: 0.3em 0.3em 0.3em 0.3em;
	border-radius: 0.3em 0.3em 0.3em 0.3em;
}

.form_submit {
	margin-top: 1.5em;
	margin-bottom: 0em;
}

.underline_header {
	border-bottom: solid thin black;
	margin-bottom: 1.5em;
}

.back_arrow {

	color: #A9A9A9;
	position: absolute;

}

.back_arrow:hover {

	color: black;
	cursor: pointer;
	cursor: hand;

} 

.main_title_text {

	font-family: "Cinzel", serif;
	font-weight: 400;
	font-size: 48px;
	text-align: center;
	color: black;

}

.main_title_text:hover {

	color: black;

}

.sub_title_text {

	font-family: "Quattrocento Sans", sans-serif;
	font-weight: 400;
	font-size: 12px;
	font-style: italic;
	text-align: center;
	clear: right;
	margin: 2.75em 0 0.3em 0;
	opacity: .65;
	width: 15em;

	color: black;

}

.title_container {

	margin-top: 0.75em;
	margin-left: 0.5em;

}

.banner_container {

	background-color: black;
	padding: 0.2em 0 0 0;


}

.banner_row {

	margin-left: 1.25em !important;
	margin-right: 1.25em !important;
	margin-bottom: 0.5em !important;

}

.main_content {

	margin-left: 1.5em !important;
	margin-right: 1.5em !important;

}

.sub_page_main {

	margin-top: 2em;

}

.right_col {

	margin-top: 2em;

}

.menu {

	vertical-align: middle;

}
.nav_menu_link {

	font-family: "Cinzel", serif;
	font-weight: 400;
	font-size: 1.25em;
	text-align: center;
	color: #aaa;

}

.nav_menu_link:hover {

	background: #333;
	color: #fff;

}

.nav_menu_link:focus {

	color: #fff;

}

.nav_menu_item {

	margin-bottom: 0px;

}

.center_text {

	text-align: center;

}

.article_head {

	margin-bottom: 0.5em;
	font-family: "Cinzel", serif;
	font-size: 2.2em;
	font-weight: 400;

}

.article_text {

	font-family: "Quattrocento Sans", sans-serif;
	font-size: 1em;
	font-weight: 400;

}

.footer {

	margin-left: 1.5em;
	margin-right: 1.5em;
	margin-top: 2em;

}

.facebook_button {

	padding: 0.4em 0.3em 0.4em 0.3em;
	background-color: white;
	color: #777777;
	border: solid thin #777777;
	border-radius: 0.25em 0.25em 0.25em 0.25em;

}

.facebook_button:hover,
.facebook_button:focus {

	background-color: #3B5998;
	outline: none;

}

.twitter_button, 
.instagram_button {

	padding: 0.4em 0.3em 0.4em 0.3em;
	margin-left: 0.5em;
	background-color: white;
	color: #777777;
	border: solid thin #777777;
	border-radius: 0.25em 0.25em 0.25em 0.25em;

}

.twitter_button:hover,
.twitter_button:focus {

	background-color: #1DA1F2;
	outline: none;

}

.instagram_button:hover,
.instagram_button:focus {

	background-color: #262626;
	outline: none;

}

.username_link {

	font-family: "Quattrocento Sans", sans-serif;
	font-size: 1.2em;
	font-weight: 400;
	color: black;

}

.login_link {

	font-family: "Quattrocento Sans", sans-serif;
	font-size: 1em;
	font-weight: 400;
	color: black;

}

.login_link:hover,
.login_link:visited,
.username_link:hover,
.username_link:visited {

	color: black;
	text-decoration: none;
	border-bottom: 0.12em solid black;

}