<div>
	<div class="text-centered">
		<h3> {{ horse.name }} </h3>
	</div>
	<div class="accordion" data-accordion data-allow-all-closed="true" data-multi-expand="true" id="horse_details_accordion">
		<li class="accordion-item" data-accordion-item>
			<a href="#" class="accordion-title">Details</a>
			<div class="accordion-content" data-tab-content>
				<b>Enrolled On:</b> <p>{{ enrollment_date }}</p>
				<b>Enrollment Status:</b> <p style="color: green;">{{ horse.status }}</p>
				<button class="button" id="re_enroll_horse_button">Re-Enroll</button>
			</div>
		</li>
		<li class="accordion-item" data-accordion-item>
			<a href="#" class="accordion-title">Billing</a>
			<div class="accordion-content" data-tab-content>
				{{ user.last_name }}
			</div>
		</li>
	</div>
</div>