{% load custom_filters %}

<form action="{% url "users:registration" %}" method="post" id="registration_form">
	{% csrf_token %}
	{% for field in form %}
		{% if forloop.counter0 < 8 %}
			<div class="field_wrapper">
				{% if field.errors %}
					{{ field.label_tag }} {{ field|addattrs:"class,error" }}
					{% for err in field.errors %}
						<p class="field_error">{{ err }}</p>
					{% endfor %}
				{% else %}
					{{ field.label_tag }} {{ field }}
				{% endif %}
			</div>
		{% else %}
			<div class="hidden_field_wrapper" id="hidden_field_wrapper" hidden>
				{% if field.errors %}
					{{ field.label_tag }} {{ field|addattrs:"class,error" }}
					{% for err in field.errors %}
						<p class="field_error">{{ err }}</p>
					{% endfor %}
				{% else %}
					{{ field.label_tag }} {{ field }}
				{% endif %}
			</div>
		{% endif %}					
	{% endfor %}
	{% if form.non_field_errors %}
		<div class="non_field_error_list">
			{% for err in form.non_field_errors %}
				<p class="non_field_error">{{ err }}</p>
			{% endfor %}
		</div>							
	{% endif %}
	<button type="submit" form="registration_form" value="Submit" class="button">Submit</button>				
</form>